.term-container {
    position: relative;
    user-select: none;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
    scrollbar-color: #666 transparent !important;
    scrollbar-width: thin !important;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #666;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ccc;
    }

    &.is-dragging {
        opacity: 0.95;
    }

    &.is-fullscreen {
        position: fixed !important;
        z-index: 9999 !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }

    .term-canvas {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .term-textarea {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        opacity: 0;
        pointer-events: none;
        resize: none;
    }

    .term-copy {
        position: absolute;
        z-index: 3;
        width: 20px;
        height: 20px;
        opacity: 0;
        pointer-events: none;
        resize: none;
    }

    .term-header {
        position: absolute;
        z-index: 4;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;

        .term-recorder {
            position: absolute;
            right: 10px;
            top: 10px;
            height: 18px;
            width: 18px;
            border-radius: 3px;
            cursor: pointer;
            border-style: solid;
            border-width: 0;
            background: #f44336;
            transition: all 0.2s ease;

            @keyframes loop {
                0% {
                    border-width: 1px;
                }
                50% {
                    border-width: 6px;
                }
                100% {
                    border-width: 1px;
                }
            }

            &.recording {
                background: #ff5722;
                border-color: rgba(255, 254, 254, 0.5);
                border-radius: 50%;
                animation: loop 1s linear infinite;
            }

            &.creating {
                background: #009688;
                border-color: rgba(255, 254, 254, 0.5);
                border-radius: 50%;
                animation: loop 1s linear infinite;
            }
        }
    }

    .term-content {
        position: absolute;
        z-index: 5;
        width: 100%;
        right: 0;
        left: 0;
        overflow: auto;

        &:hover {
            cursor: text;
        }
    }

    .term-footer {
        position: absolute;
        z-index: 6;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;

        .term-resize {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            cursor: nwse-resize;
        }
    }
}
