.term-container {
    font-family: monospace, Arial, sans-serif;
    font-size: 13px;
    color: #b0b2b6;
    position: relative;
    user-select: none;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #666;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ccc;
    }

    &.is-dragging {
        opacity: 0.95;
    }

    &.is-fullscreen {
        position: fixed !important;
        z-index: 9999 !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }

    .term-canvas {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .term-textarea {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        opacity: 0;
        pointer-events: none;
        resize: none;
    }

    .term-copy {
        position: absolute;
        z-index: 3;
        width: 20px;
        height: 20px;
        opacity: 0;
        pointer-events: none;
        resize: none;
    }

    .term-header {
        position: absolute;
        z-index: 4;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;

        .term-recorder {
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 10px;

            .term-recorder-size,
            .term-recorder-duration {
                display: none;
                margin-right: 10px;
            }

            .term-recorder-btn {
                height: 18px;
                width: 18px;
                background: #f44336;
                border-radius: 3px;
                cursor: pointer;
            }

            &.recording {
                .term-recorder-btn {
                    background: #ffc107;
                }
                .term-recorder-size {
                    display: block;
                }
                .term-recorder-duration {
                    display: block;
                }
            }
        }
    }

    .term-content {
        position: absolute;
        z-index: 5;
        width: 100%;
        right: 0;
        left: 0;
        overflow: auto;

        &:hover {
            cursor: text;
        }
    }

    .term-footer {
        position: absolute;
        z-index: 6;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;

        .term-resize {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            cursor: nwse-resize;
        }
    }
}
